{% extends 'layout.html.twig' %}

{% block title %}User authentication{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% if error %}
<div class="alert alert-danger">
    <strong>Login failed!</strong> {{ error }}
</div>
{% endif %}
<div class="card p-4 w-50 d-flex me-auto ms-auto">
    <form class="needs-validation" novalidate action="{{ path('login_check') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Enter your username" required autofocus>
            <div class="invalid-feedback">Please enter your username.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Enter your password" required>
            <div class="invalid-feedback">Please enter your password.</div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Login</button>
        </div>
    </form>
</div>
{% endblock %}